body {
    margin: 0;
    padding: 0;
    background-color: rgb(32, 32, 32) !important;
    font-family: 'Alergb(32, 32, 32) a Sans SC';
    font-size: 22px;
}

#title {
    text-align: center;
    color: rgba(240, 248, 255, 0.87);
    font-family: 'Alergb(32, 32, 32) a Sans SC';
    font-size: 125px;
    margin-top: 1%;
    margin-right: 30%;
}
#quote{
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: 600;
    margin-bottom: 0px;
    font-family: 'Alergb(32,32,32)a Sans SC';font-size: 50px;
    margin-left: 35%;
}
#navbar-container{
    background-color: rgb(32,32,32) !important ;
}
#main-container {
    background-color: #09878bc4;
}
#search-discription{
    color: aliceblue;
    margin-left: 5%;
}
#search-bar-container{
    margin-right: 2%;
    margin-left: 30%;
    background-color: #0000006e;
    width: 600px;
    margin-bottom: 2%;
}
#searchbar{
    margin-top: 10px;
    margin-right: 2%;
    margin-left: 10px;
}

#search-button{
    margin-top: 10px;
    margin-right: 2%;
    margin-left: 2%;
}

#dropdown-card{
    color: rgb(32,32,32);
    background-color: #09878bc4;
    margin: 0px;
    padding: 2px;
    font-family: 'Alergb(32,32,32)a Sans SC';font-size: 22px;
}

#searchbar-title{
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    font-family: 'Alergb(32,32,32)a Sans SC';
    margin-right: 50%;
    color: #ffffff;

}
#stocks{color:rgb(32,32,32);
background-color: #00ffff6e;
font-size: 25px;
font-weight: 600;
font-family: 'Alergb(32,32,32)a Sans SC';
text-align: center;
cursor: pointer;
}

#company-logo-container{
    margin-top: 20px;
}


#datepicker{color: rgb(0, 0, 0);
    background-color: #00ffff6e;
text-align: center;
border-radius: 10px;
margin-top: 2%;
font-family: 'Alergb(32,32,32)a Sans SC';font-size: 22px;
margin-top:2%;
margin-bottom:2%;
margin-left: 4%;
width: 100%;}
#date{
    margin-left: 4%;
    width: 30%;
    color:aliceblue;
}

    #submit-btn{
margin-bottom: 2%;
color :aliceblue;
font-family: 'Alergb(32,32,32)a Sans SC';font-size: 22px;
font-weight: 600;}

    #stock-data-container{
     background-color: #09878bc4;
     font-weight: 800;
     border-radius: 20px ;  
     margin-top: 10%;
     margin-bottom: 4%;
     margin-left: 5%;
     margin-right: 5%;
    }

    #stock-data-card{
        height: 500px;
        background-color: #000a0ac4;
        font-weight: 800;
        border-radius: 20px ;  
        font-family: 'Alergb(32,32,32)a Sans SC';font-size: 22px;
        margin-left: 4%;
        margin-right: 4%;
    }
    #stock-data{
        margin-top: 30px;
        font-family: 'Alergb(32,32,32)a Sans SC';font-size: 28px;
        color:#6bf403;
        font-weight: 400;
        text-decoration: underline;
    }

    #stock-data{
        margin-top: 15px;
        font-family: 'Alergb(32,32,32)a Sans SC';font-size: 20px;
        color:rgb(231, 231, 14);
        font-weight: 400;
    }

    #intro-text{
        margin-top: 4%;
        margin-left: 25%;
        font-size: 40px;
    font-weight: 600;}

    #coins{
        color: gold;
    }
    #graph{color: black;
    font-size :110px ;}
    #globe{
        color: #000000c4;
    }

    #moneybag{
        font-size: 90;
    color: rgba(210, 105, 30, 0.76);
margin-left: 4%;}

#magnifying-glass{
    color:rgba(32, 32, 32, 0.94);
}
#historical-data{
    align-items: center;
    background-color: #09878bc4;
    height: 700px;
    margin-left: 50%;
    margin-top: 8%;
    margin-bottom: 6%;
    border-radius: 60px;
}

#historic-data-text{
    margin-top: 2%;
    margin-bottom: 2%;
margin-left:4%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.image-button {
    display: block;
    text-align: center;
}

.container ul {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap; 
    list-style: none; 
    padding: 0;
  }
  
  .container ul li {
    flex: 0 0 calc(20% - 10px);
    margin-bottom: 20px; 
  }
  
  .container ul li img {
    width: 100%; 
    height: auto; 
  }
  

.logo-image {
    width: 50x; 
    height: 50px; 
    object-fit:contain; 
}

img {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}


